# =====================================================
# Virtual Environment
# =====================================================

venv/

# =====================================================
# Python Cache
# =====================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================================
# Jupyter Notebook Checkpoints
# =====================================================

.ipynb_checkpoints/

# =====================================================
# Raw Data Files
# =====================================================

data/raw/

# =====================================================
# MLflow Artifacts
# =====================================================

mlruns/

# =====================================================
# Model Files
# =====================================================

models/*.joblib
models/*.pkl

# =====================================================
# OS Files
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# VS Code
# =====================================================

.vscode/

# =====================================================
# Environment Variables
# =====================================================

.env